* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #434e6e;
}

.dark-blue {
    background-color: #434e6e;
}

.fixed-right {
    position: fixed;
    top: 0;
    right: 0;
}

.cart-container {
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 16px;
    background-color: #fff;
}
