<%- include('./footer/Footer'); -%>

<div class="col-6 mx-auto mt-2">

  <div class="header text-center text-uppercase">
    <h1>THÊM SẢN PHẨM</h1>
  </div>
    <form action="/add-product" method="post">
        <!-- Name input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="product_name">Tên sản phẩm</label>
            <input type="text" id="name" class="form-control" name='product_name'/>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="image">Đường dẫn hình ảnh</label>
          <input type="text" id="imageURL" class="form-control" name='image'/>
        </div>

        <div class="form-outline mb-2">
          <label class="form-label" for="type">Loại</label>
      
          <% for (let i = 0; i < foodTypeList.length; i++) {%>
          <div class="radio">
            <label><input type="radio" name="product_type" 
              value="<%= foodTypeList[i].Product_Type%>"
              > 
             <%= foodTypeList[i].Product_Type%>
            </label>
          </div>
          <%} %>
          <input type="text" name="anotherType" id="" placeholder="Khác">
        </div>

      <div class="form-outline mb-2">
        <label class="form-label" for="fund">Fund</label>
        <input type="number" id="alt" class="form-control" name='fund' step="0.01"/>
      </div>

      <div class="form-outline mb-2">
        <label class="form-label" for="price">Giá thành</label>
        <input type="float" id="alt" class="form-control" name='price' step="0.0001"/>
      </div>

      <div class="form-outline mb-2">
        <label class="form-label" for="instock">Số lượng</label>
        <input type="number" id="instock" class="form-control" name='instock'/>
      </div>

      
        <!-- Message input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="product_description ">Miêu tả</label>
          <textarea class="form-control" id="description" rows="4" name='product_description'></textarea>
        </div>
      
    
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-2">Send</button>
      </form>
</div>


<%- include('./header/Header'); -%>