* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.modal-package {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation: transitionModal 0.6s ease;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    outline: none;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom:0;

}

.modal-header h2 {
    margin-bottom: 0;
    padding:12px;
    font-size: 36px;
    font-weight: 700;
    color: red;
    font-family: "Poppins", sans-serif;
}
.modal-header h2:last-child {
    height:46px;
    font-size: 20px;
    border-bottom: 1px solid rgb(187, 185, 231);
    background-color:rgb(187, 185, 231);
    border-radius: 3em;
    color:#434E6E;
}

.modal-body {
    display: flex;
    flex-direction: column;

}

.modal-body .modal-product-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:16px;
}

.modal-body .modal-product-item button {
    margin: 0;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    border:none;
    color:#ffffff;
    padding: 8px 20px;
    display: block;
    list-style-type: disc;
    line-height: 20px;
}

.modal-body .modal-product-item button .minus:hover,
.modal-body .modal-product-item button .plus:hover {
    cursor: pointer;
}
.modal-body .modal-product-item button:hover {
    cursor:default;
}

.modal-body .modal-product-item button input {
    text-align: center;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: red;
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    width:30px;
    height:15px;
    
}

::-webkit-input-placeholder { 
    color: white ;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white ;
  }
  
  ::placeholder {
    color: white ;
  }
.modal-product-quantity {
    width: 100px !important;
}
.modal-product-info {
    width: 200px !important;
}


.modal-body .modal-product-image img{
    width: 100px;
    height: 100px;
}

.modal-product-name, .modal-total p {
    font-weight: 700;
    color: #434E6E;
    font-family: "Poppins", sans-serif;
}
.modal-product-price {
    color:#212529;
}

.modal-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0;
    width:90%;
    position:absolute;
    bottom:0;
}

.modal-list-product {
    max-height: 60vh;
    overflow: overlay;
    width: 100%;
}

.modal-list-product::-webkit-scrollbar {
    width: 16px;
  }
  .modal-list-product::-webkit-scrollbar-thumb {
    background-color: #7b7d7f;
    border: 5px solid #fff;
    border-radius: 10rem;
  }
  .modal-list-product::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
  }
.modal-footer {
    height:100px;
    padding-top: 0;
    padding-bottom: 0;
    
}
.modal-footer .btn-modal-checkout {
    color: #fff;
    background-color: red;
    padding: 12px 30px;
    font-weight: 600;
    border: 0;
    transition: 0.5s;
    opacity: 1 !important;
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 55px;
    border-radius: 10px;
    display: block;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

.modal-footer .btn-modal-checkout:hover{
    transform: scale(1.1); 
}
.modal-product-item .close {
    border: none;
    margin: 0;
    cursor: pointer;
    width: 24px;
    background-color:red;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    color: white;
}
.modal-product-item .close:hover {
    transform: scale(1.1); 
}

@keyframes transitionModal {
    from {
        opacity: 0;
        transform: translateX(2000px);
    }
    to {
        opacity:1;
        transform: translateX(0px);
    }
}
