
.menu-item {
    background-color: white;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-item:hover {
    position: relative;
    bottom: 10px;
}

.menu-item img{
    width: 100%;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

.menu-item button {
    border-radius: 10px;
    border-style: none;
    background-color: red;
    color: #fff;
    padding: 7px 10px;
}

.fixed-in-box {
    position: absolute;
    width: 95%;
    bottom: 0;
}