.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 1.8rem solid transparent;
    border-bottom: 1.8rem solid transparent;
    border-left: 1.2rem solid rgb(201, 212, 201);
  }
  
.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 1.8rem solid transparent;
    border-bottom: 1.8rem solid transparent;
    border-right: 1.2rem solid rgb(201, 212, 201);
}

.btn-x {
    min-width: 1.25rem;
    height: 100%;
    background-color: inherit;
    border: none !important;
    border-style: none !important;
}

